*:focus
{
    outline: none;
}

body
{
    font-family: Helvetica, Arial;
    margin: 0;
    background-color: #ffeff5;
}

#app-cover
{
    position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;
    width: 430px;
    height: 100px;
    margin: -4px auto;
}

#bg-artwork
{
    position: fixed;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-image: url("https://raw.githubusercontent.com/regret/regret.github.io/master/xatDaddyV2/assets/music/_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    z-index: 1;
}

#bg-layer
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.51;
    z-index: 2;
}

#player
{
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #243447;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
}

#player-track.active
{
    top: -92px;
}

#album-name
{
    color: 	#c51f5d;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    color: #fff;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #c51f5d;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #f86d92;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#c51f5d;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fff;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #141d26;
    box-shadow: 0 30px 80px #141d26;
    border-radius: 15px;
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #243447;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #243447, 0 30px 50px -15px #243447;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button
{
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: #141d26;
    border-radius: 6px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}

.button:hover
{
    background-color: #243447;
}

.button:hover i
{
    color: #fff;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #ae5f87;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(174, 95, 135, 0.86);
  z-index: 125;
}

/* profile start */

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
/***End REset CSS*/

.wrap {
  max-width: 625px;
  min-height: 450px;
  max-height: 450px;
  margin: 100px auto;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background: url('https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=450&q=80') top/cover no-repeat;
  z-index: 1000;
}

.right-menu {
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  background: #fff;
  max-width: 120px;
  position: absolute;
  border-radius: 0px 3px 3px 0px;
}

.right-menu a,
.footer a {
  display: block;
  text-align: center;
  padding: 47px 28px;
  line-height: 30px;
  color: #c51f5d;
}

.right-menu a span,
.footer a span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

a.active,
.right-menu a:hover {
  color: #222;
  position: relative;
}

a.active:after {
  content: '';
  height: 0;
  width: 0;
  border: 11px solid transparent;
  position: absolute;
  left: -21px;
  top: 50%;
  border-right: 11px solid #fff;
}

.right-menu a {
  border-bottom: 1px solid #B7B7B7;
}

.right-menu a i {
  font-size: 30px;
}

.avatar {
  margin-right: 100px;
  text-align: center;
  display: block;
  padding-top: 56px;
}

.avatar img {
  height: 150px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
}

.bubble {
  background: #fff;
  display: block;
  width: 42%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  line-height: normal;
  margin-top: 25px;
  position: relative;
}

.bubble:after {
  content: '';
  top: -70px;
  left: 45%;
  right: 0;
  width: 0;
  height: 70px;
  position: absolute;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.bubble h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.bubble a {
  color: #888;
  font-size: 12px;
  font-style: italic;
}

.footer {
  bottom: 0;
  width: 100%;
  min-height: 100px;
  position: absolute;
  border-top: 1px solid #9E9AAB;
}

.footer a:hover {
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
}

.footer a {
  display: block;
  color: #c51f5d;
  padding: 25px 35px;
  border-right: 1px solid #9E9AAB;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 0px;
  float: left;
}

.footer a:last-child {
  border-right: none;
}

.footer a i {
  font-size: 24px;
}

.profile,
.friends,
.other {
  display: none;
}

.profile.open,
.friends.open,
.other.open {
  display: block;
}

i {
  color: #c51f5d;
}
